body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #f4f6f8;
}

h1, h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input, button {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: rgb(160, 144, 144);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.editBtn {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.editBtn:hover { background-color: #e0a800; }
.deleteBtn:hover { background-color: #c82333; }
